<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wao_Project>
            <version>0.1.0</version>
        </Wao_Project>
    </modules>
    
    <stores>
        <admin>
            <design>
                <theme>
                    <default>go</default>
                </theme>
            </design>
        </admin>
    </stores>
    
    <!-- Default values in settings -->
    <default>
        <wao_roles>
            <set_roles>
                <admin_role>1</admin_role>
                <manager_role>3</manager_role>
            </set_roles>
        </wao_roles>
    </default>
    
    <global>
        <helpers>
            <project>
                <class>Wao_Project_Helper</class>
            </project>
        </helpers>
        
        <blocks>
            <project>
                <class>Wao_Project_Block</class>
            </project>
        </blocks>
        
        <models>
            <project>
                <class>Wao_Project_Model</class>
                <resourceModel>project_mysql4</resourceModel>
            </project>
            <project_mysql4>
                <class>Wao_Project_Model_Mysql4</class>
                <entities>
                    <project>
                        <table>wao_projects</table>
                    </project>
                    <developers>
                        <table>wao_developers</table>
                    </developers>
                </entities>
            </project_mysql4>
        </models>
        
        <resources>
            <project_setup>
                <setup>
                    <module>Wao_Project</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </project_setup>
            
            <project_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </project_write>
            
            <project_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </project_read>
        </resources>
    </global>
    
    <adminhtml>
        <layout>
            <updates>
                <project>
                    <file>Wao/Project.xml</file>
                </project>
            </updates>
        </layout>
    
        <translate>
            <modules>
                <project>
                    <files>
                        <default>Wao_Project.csv</default>
                    </files>
                </project>
            </modules>
        </translate>
        
        <events>
            <admin_session_user_login_success>
                <observers>
                    <configuration_access_level>
                        <type>singleton</type>
                        <class>project/observer_setRole</class>
                        <method>configAccessLevel</method>
                    </configuration_access_level>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>
    
    <admin>
        <routers>
            <project>
                <use>admin</use>
                <args>
                    <module>Wao_Project</module>
                    <frontName>project</frontName>
                </args>
            </project>
        </routers>
    </admin>
</config>
