<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wao_Files>
            <version>0.1.0</version>
        </Wao_Files>
    </modules>
    <admin>
        <routers>
            <files>
                <use>admin</use>
                <args>
                    <module>Wao_Files</module>
                    <frontName>files</frontName>
                </args>
            </files>
        </routers>
    </admin>
    <adminhtml>
        
        <layout>
            <updates>
                <files>
                    <file>Wao/Files.xml</file>
                </files>
            </updates>
        </layout>
         <translate>
            <modules>
                <files>
                    <files>
                        <default>Wao_Files.csv</default>
                    </files>
                </files>
            </modules>
        </translate>
    </adminhtml>

    <global>  
        <blocks>
		<files>
			<class>Wao_Files_Block</class>
		</files>
	</blocks>
        <helpers>
		<files>
			<class>Wao_Files_Helper</class>
		</files>
	</helpers>
        <models>
            <files>
                <class>Wao_Files_Model</class>
                <resourceModel>files_mysql4</resourceModel>
            </files>
            <files_mysql4>
                <class>Wao_Files_Model_Mysql4</class>
                <entities>
                    <files>
                        <table>wao_files</table>
                    </files>
                </entities>  
            </files_mysql4>
        </models>
         <resources>
             <files_setup>
                 <setup>
                     <module>Wao_Files</module>
                 </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </files_setup>
            <files_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </files_write>
            <files_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </files_read>
          </resources>
     </global>
</config>
