<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wao_Uploader>
            <version>0.1.0</version>
        </Wao_Uploader>
    </modules>
    <admin>
        <routers>
            <uploader>
                <use>admin</use>
                <args>
                    <module>Wao_Uploader</module>
                    <frontName>uploader</frontName>
                </args>
            </uploader>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <uploader module="adminhtml">
                <title>Uploader</title>
                <sort_order>100</sort_order>
                <action>uploader/adminhtml_index</action>
            </uploader>
        </menu>
        <layout>
            <updates>
                <tasks>
                    <file>uploader.xml</file>
                </tasks>
            </updates>
        </layout>
    </adminhtml>
    <global>  
        <blocks>
		<uploader>
			<class>Wao_Uploader_Block</class>
		</uploader>
	</blocks>
        <helpers>
		<uploader>
			<class>Wao_Uploader_Helper</class>
		</uploader>
	</helpers>
<!--        <models>
          <tasks>
                <class>Wao_Tasks_Model</class>
                <resourceModel>tasks_resource</resourceModel>
            </tasks>
            <tasks_resource>
                <class>Wao_Tasks_Model_Resource</class>
                <deprecatedNode>tasks_mysql4</deprecatedNode>
                <entities>
                    <tasks>
                        <table>wao_tasks</table>
                    </tasks>
                    <projects>
                        <table>wao_projects</table>
                    </projects>
                    <statuses>
                        <table>wao_statuses</table>
                    </statuses>
                    <developers>
                        <table>wao_developers</table>
                    </developers>
                  </entities>  
            </tasks_resource>
        </models>
         <resources>
             <tasks_setup>
                 <setup>
                     <module>Wao_Tasks</module>
                 </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tasks_setup>
            <tasks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tasks_write>
            <tasks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tasks_read>
          </resources>-->
     </global>
</config>