#edit_panel {
	float: right;
}


.comment_block {
	border:solid 1px #ADADAD; 
	width:70%;
}


#edit_block{
	position:fixed;
	left:0;
	top:0;
	width:440px;
	z-index:9000;
	padding:20px;
	font-size: 15px;
	border:solid 2px #ADADAD; 
	background-color:#fff;
	display: none;
	margin: 33%;
	}


#mask {
	position:fixed;
	left:0;
	top:0;
	display: none;
	z-index:8999;
	height: 100%;
	width: 100%;
	background-color:#000;
	opacity: 0.5;
	}


